<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>profile</title>
</head>
<body>
    <h1>Welcome to your profile</h1>
    <% user.posts.forEach(e =>{ %>
        <form action="/post/delete/<%=e._id%>?_method=DELETE" method="POST"><button type="submit">X</button></form>
        <img src="<%= user.avatar %>" width="50px" alt="">
        <p><%= user.name %></p>
        <p><%= e.content %></p>
    <% }); %>
</body>
</html>