<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <ul class="right">
          <li>
            <a href="/auth/google" >Login with Google</a>
          </li>
        </ul>
  </body>
</html>
